@media(min-width: 100px) and (max-width: 500px){

    /* ----------- Media do Cabeçalho ---------------- */

    header{
        display: flex;
        flex-direction: column;
        height: 200px;
    }

    section.logoTipo{
        width: 100%;
        height: 80px;
    }
    img#logo{
        width: 50px;
        height: 50px;
    }

    h1#nome{
        font-size: 20px;
    }

    nav.barraNav{
        width: 100%;
        height: 80px;
        flex-direction: column;
        align-items: center;
    }
    div.contNav{
        width: 100%;
    }

    div.contBot{
        width: 100%;
        margin-top: 10px;
    }
    .btn{
        width: 60px;
        font-size: 10px;
    }

    h2.nav{
        font-size: 15px;
    }

    /* --------------------- Media do Footer -------------------- */

    footer.rodape{
        height: 300px;
    }
    section.detalhes{
        display: flex;
        flex-direction: column;
    }

    div.logoFinal{
        width: 100%;
    }
    img.imgLogoFooter{
        width: 50px;
        height: 50px;
    }
    h1.txtLogoFooter{
        font-size: 15px;
    }
    div.links{
        width: 100%;
    }
    h3.linkFooter{
        font-size: 15px;
    }
    section.direitos{
        height: 80px;
    }
    h1.txtDireitos{
        font-size: 15px;
    }

}
@media(min-width: 501px) and (max-width: 800px){

    /* ----------- Media do Cabeçalho ---------------- */

    header{
        display: flex;
        flex-direction: column;
        height: 200px;
    }

    section.logoTipo{
        width: 100%;
        height: 90px;
    }
    img#logo{
        width: 60px;
        height: 60px;
    }

    h1#nome{
        font-size: 30px;
    }

    nav.barraNav{
        width: 100%;
        height: 80px;
        flex-direction: column;
        align-items: center;
    }
    div.contNav{
        width: 100%;
    }

    div.contBot{
        width: 100%;
        margin-top: 10px;
    }
    .btn{
        width: 70px;
        font-size: 10px;
    }

    h2.nav{
        font-size: 20px;
    }

    /* --------------------- Media do Footer -------------------- */

    footer.rodape{
        height: 300px;
    }
    section.detalhes{
        display: flex;
        flex-direction: column;
    }

    div.logoFinal{
        width: 100%;
    }
    img.imgLogoFooter{
        width: 60px;
        height: 60px;
    }
    h1.txtLogoFooter{
        font-size: 20px;
    }
    div.links{
        width: 100%;
    }
    h3.linkFooter{
        font-size: 15px;
    }
    section.direitos{
        height: 80px;
    }
    h1.txtDireitos{
        font-size: 15px;
    }

}


@media(min-width: 801px) and (max-width: 1080px){
    header{
        display: flex;
        height: 200px;
        align-items: center;
    
    }

    section.logoTipo{
       width: 30%;
    }
    img#logo{
        width: 40px;
        height: 40px;
    }

    h1#nome{
        font-size: 30px;
    }

    div.contNav{
        width: 70%;
    }
    div.contBot{
        width: 40%;
    }

    nav.barraNav{
        width: 70%;
    }
    
    .btn{
        width: 80px;
        height: 30px;
        font-size: 10px;
    }

    h2.nav{
        font-size: 18px;
    }

    /* ---- MEDIA FOOTER ---- */

    img.imgLogoFooter{
        width: 70px;
        height: 70px;
    }
    h1.txtLogoFooter{
        font-size: 20px;
    }
    h3.linkFooter{
        font-size: 15px;
    }
    h1.txtDireitos{
        font-size: 15px;
    }
}

@media(min-width: 1081px) and (max-width: 2000px){
    header{
        display: flex;
        height: 200px;
        align-items: center;
    
    }

    section.logoTipo{
       width: 30%;
    }
    img#logo{
        width: 60px;
        height: 60px;
    }

    h1#nome{
        font-size: 30px;
    }

    div.contNav{
        width: 70%;
    }
    div.contBot{
        width: 40%;
    }

    nav.barraNav{
        width: 70%;
    }
    
    .btn{
        width: 85px;
        height: 35px;
        font-size: 15px;
    }

    h2.nav{
        font-size: 20px;
    }

    /* ---- MEDIA FOOTER ---- */

    img.imgLogoFooter{
        width: 75px;
        height: 75px;
    }
    h1.txtLogoFooter{
        font-size: 25px;
    }
    h3.linkFooter{
        font-size: 20px;
    }
    h1.txtDireitos{
        font-size: 20px;
    }
}


