@media(min-width: 200px) and (max-width: 500px){
    /* SLIDES */

    /* DETALHES DE PRODUTO */

    .comunicacao{
        display:flex;
        justify-content: space-between;
    }
    .comunicacaoChild{
        display: flex;
        flex-direction: column;
    }

    img#iconesDosProdutos{
        display: none;
    }

    /* PLANO DE ASSINATURA */
    .planoDeAssinatura{
        display: flex;
        padding: 0px;
        flex-direction: column;
  
    }
    .planosDeAssinaturaDisponiveis{
        display: flex;
        width: 80%;
        justify-content: space-around;
    }
}

@media(min-width: 501px) and (max-width: 800px){
    /* DETALHES DO PRODUTO */
    .comunicacaoChild{
        flex-direction: column;
        align-items: center;
    }

    .ferramentasPrimordiais{
        flex-direction: column;
    }
    .containerChild{
        flex-direction: column;
        align-items: flex-start;
    }
/*  PLANOS DE ASSINATURA */

    .planoDeAssinatura{
        display: flex;
        width: 70%;
        height: 50%;
        flex-direction: column;
        justify-content: space-between;
  
    }
    .planosDeAssinaturaDisponiveis{
        display: flex;
        width: 80%;
        justify-content: space-around;
    }
}
