
h1{
  display: flex;
  font-family: 'Roboto', sans-serif;
}

p{
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  margin: 10px;
  justify-content: left;
}

/* parte superior do body: detalhe do produto e assinaturaA */
.descricoesDoProduto{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.detalheDoProduto{
    display: flex;
    flex-direction: column;
    border-bottom: 150px solid var(--color1) ;
  } 

.slideDescritivo{
  display: flex;
  border-bottom: 150px solid var(--color1) ;
}
.carousel-caption{
  display: flex;
  margin: 20px;
  align-items: center;
  flex-direction: column;
  color: black;
}

#tituloDoSlide{
  display: flex;
  text-align: center;
}

.sr-only{
  display: flex;
  color: black;
}
.comunicacao{
  display: flex;
  flex-direction:column;
}
.comunicacaoChild{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}
.containerChild{
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
#barra01{
  width: 200px;
  height: 5px;
  background-color: var(--color1);
  margin: 10px;
  border-radius: 30px;
}
img#comunicaçãoChild{
  display: flex;
  width: 10vw;
height: 25vh;
border-radius: 10px ;
box-shadow: 0px 0px 10px black;
margin: 20px;
}

.comunicação{
  display: flex;
  justify-content: left;
  flex-direction:row;
}


/* icones de imagem */
img#iconesDosProdutos{
display: flex;
width: 30vw;
height: 45vh;
border-radius: 10px ;
box-shadow: 0px 0px 10px black;
margin: 20px;

}

/* planos de assinatura */
  .planoDeAssinatura{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 10px;
  }

.planosDeAssinaturaDisponiveis{
    display: flex;
    width: 30vw;
    height: 90vh;
    border-radius: 30px;
    box-shadow: 5px 4px 20px grey;
    background-color: var(--color1);
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.planosDeAssinaturaDisponiveis:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.4s;
  border: 2px solid black;
}

#barra{
  width: 200px;
  height: 5px;
  background-color: var(--color6);
  margin: 10px;
  border-radius: 30px;
}



#iconesDeAssinatura{
display: flex;
width:1vw;
height: 2vh;
border-radius: 10px ;
box-shadow: 0px 0px 10px black;
margin: 10px;
}

.beneficios{
  display: flex;
  padding-top: 5px;
  text-align: center;
}