/* --- Css com @media PriSouza --- */

body {
  background-image: url(../../pag_home/css/8.png);
  background-position: center;
  background-size: 1500px 1500px;
}

a{
  text-decoration: none;
}

/*Div de texto*/

.box-contato {
  margin-top: 50px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--color1);
}

.texto-contato{
  font-size: 20px;
  display: flex;
  justify-content: center;
}

/* Div card-contatos */

.box-alunos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 11rem;
  margin: 50px 20px 100px 20px;
}


/* Responsividade */

@media (min-width: 100px) and (max-width: 500px) {

/* --------------------- Media do conteudo -------------------- */

body {
  background-repeat: no-repeat;
}

.box-contato {
  font-size: 16px;
}

.texto-contato {
  display: flex;
}

.box-alunos {
  justify-content: center;
}

}

@media (min-width: 501px) and (max-width: 800px) {
  
  /* --------------------- Media do conteudo -------------------- */

  body {
    background-repeat: no-repeat;
  }

  .box-contato {
    font-size: 18px;
    width: 90%;
    margin: 10px auto;
  }

  .box-alunos {
    justify-content: center;
  }

}